<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/app.css}" rel="stylesheet" />
	<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}" defer></script>
	<script th:src="@{/js/app.js}" defer></script>
	<title>$title$</title>
</head>

<body>
	<div class="container mt-5">
		<h1>アーティスト新規登録</h1>
		<form method="post" th:action="@{/artists}" th:object="${artist}">
			<div>
				アーティスト名<br>
				<input type="text" th:field="*{artistName}" />
				<div th:if="${#fields.hasErrors('artistName')}" th:errors="*{artistName}" class="text-danger"></div>
			</div>

			<div>
				アーティスト名(読み)<br>
				<input type="text" th:field="*{artistHiraganaName}" />
				<div th:if="${#fields.hasErrors('artistHiraganaName')}" th:errors="*{artistHiraganaName}"
					class="text-danger"></div>
			</div>

			<div>
				公式HP<br>
				<input type="text" th:field="*{artistArtUrl}" />
			</div>

			<div>
				アーティスト画像<br>
				<input type="file" class="form-control-file" id="inputFile" name="artistPhoto" />
			</div>

			<input type="hidden" th:field="*{artistId}" />
			<br>
			<input type="submit" class="btn btn-secondary" value="登録する" />
		</form>

</body>

</html>