<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>アーティスト更新</title>
	<link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/app.css}" rel="stylesheet" />
	<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}" defer></script>
	<script th:src="@{/js/app.js}" defer></script>
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center mb-4">アーティスト更新フォーム</h1>
		
		<form th:action="@{'/artists/' + ${artist.artistId}}" enctype="multipart/form-data" th:object="${artist}" method="post" class="mx-auto" style="max-width: 600px;">
			<input type="hidden" th:field="*{artistId}" />

			<div class="mb-3">
				<label for="artistName" class="form-label">アーティスト名</label>
				<input type="text" th:field="*{artistName}" class="form-control" id="artistName" />
				<div th:if="${#fields.hasErrors('artistName')}" th:errors="*{artistName}" class="form-text text-danger"></div>
			</div>

			<div class="mb-3">
				<label for="artistHiraganaName" class="form-label">アーティスト読み</label>
				<input type="text" th:field="*{artistHiraganaName}" class="form-control" id="artistHiraganaName" />
				<div th:if="${#fields.hasErrors('artistHiraganaName')}" th:errors="*{artistHiraganaName}" class="form-text text-danger"></div>
			</div>

			<div class="mb-3">
				<label for="artistArtUrl" class="form-label">公式HP</label>
				<input type="text" th:field="*{artistArtUrl}" class="form-control" id="artistArtUrl" />
			</div>
			
			<div class="mb-3">
				<label for="inputFile" class="form-label">アーティスト画像</label>
				<input type="file" class="form-control" id="inputFile" name="artistCover" />
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary">更新する</button>
			</div>
		</form>
	</div>
</body>
</html>
