<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>$title$</title>

	<!-- CSS -->
	<link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/app.css}" rel="stylesheet" />

	<!-- JS -->
	<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}" defer></script>
	<script th:src="@{/js/app.js}" defer></script>
</head>

<body>
	<div class="form-group">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>アーティスト画像</th>
					<th>アーティスト名</th>
					<th>アーティスト名(読み)</th>
					<th>公式HP</th>
					<th>詳細</th>
					<th>削除</th>
					<th>更新</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="artist : ${artists}">
					<td>
						<img th:src="@{'/' + ${artist.artistPhoto}}" class="img-thumbnail"
							style="width: 120px; height: auto;">
					</td>
					<td th:text="${artist.artistName}"></td>
					<td th:text="${artist.artistHiraganaName}"></td>
					<td>
						<a th:href="@{${artist.artistArtUrl}}" th:text="${artist.artistArtUrl}"></a>
					</td>
					<td class="text-center">
						<form th:method="get" th:action="@{/artists/{id}/members(id=${artist.artistId})}">
							<input type="submit" class="btn btn-secondary" value="詳細" />
						</form>
					</td>
					<td class="text-center">
						<form th:method="delete" th:action="@{/artists/{id}(id=*{artist.artistId})}">
							<input type="hidden" name="id" th:value="${artist.artistId}" />
							<input type="submit" class="btn btn-danger" value="削除" />
						</form>
					</td>
					<td class="text-center">
						<form th:method="get" th:action="@{/artists/{id}(id=*{artist.artistId})}">
							<input type="hidden" name="id" th:value="${artist.artistId}" />
							<input type="submit" class="btn btn-primary" value="更新" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="mt-4">
			<form th:method="get" th:action="@{/artists/registration}">
				<input type="submit" class="btn btn-success" value="新規登録はここから" />
			</form>
		</div>

		<div class="mt-2">
			<form th:method="get" th:action="@{/artists/registrationMember}">
				<input type="submit" class="btn btn-success" value="メンバー新規登録はここから" />
			</form>
		</div>
	</div>
</body>

</html>